.nav-link {
    display: block;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: #002f5a;
    transform: scale(1.05);
    font-size: '20px';
  }
  
  .nav-link.active{
    font-size: 30px;
    font-weight: 900;
  }
  