.nav-link {
  display: block;
  padding: 10px 15px;
  color: #0082FF;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}


.nav-link:hover {
  color: white;
  transform: scale(1.05);
}


.nav-link.active {
  font-size: 30px;
  font-weight: 900;
  color: white;
}