.nav-link {
  color: #0082FF;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}


.nav-link.active {
  color: white;
}


.nav-link:hover {
  color: white;
}



@keyframes slideInBottomToTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}